# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pdb

# Virtualenv / environment
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db

# Local env files
.env
